.country-detail-infos {
    display: flex;
    flex-direction: column;
    max-width: 100rem;
    margin: 0 auto;
    gap: 4rem;
}

.detail-page {
    display: none;
    padding: 8rem 6rem 6rem;
}

.detail-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 7rem;
}

.detail-flag {
    width: 30rem;
    height: 20rem;
    object-fit: cover;
    box-shadow: var(--box-shadow)
}

.infos-container {
    display: flex;
    flex-direction: column;
    row-gap: 1.7rem;
    padding-top: 2rem;
}

#country-name {
    font-size: 1.4rem;
    margin: 0;
}

.infos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem
}

.part-1,
.part-2 {
    flex-basis: 50%;
    margin-bottom: 2rem;
}

.info {
    color: var(--text-white);
    font-size: var(--font-size-detail);
}

.info-1,
.info-2 {
    display: block;
    margin-bottom: 0.5rem;
    font-size: var(--font-size-detail);
    color: var(--text-white);
    white-space: nowrap;
}

.info-1::before,
.info-2::before {
    font-weight: bold;
    content: attr(data-title) ": ";
    color: var(--text-white);
    font-size: var(--font-size-detail);

}

.border-countries {
    display: flex;
    flex-direction: row;
    font-weight: 600;
    column-gap: 1.5rem;
}

.border-countries-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 0.5rem;
    row-gap: 0.8rem;
}

.border-countries-list div {
    display: inline-block;
    padding: 0.2rem 0.9rem;
    background-color: var(--dark-blue);
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    color: var(--text-white);
    font-size: var(--font-size-detail);
    white-space: nowrap;
}

#border-countries-title {
    font-weight: bold;
    color: var(--text-white);
    font-size: var(--font-size-detail);
    white-space: nowrap;
    margin: 0;
}

.back-button {
    display: flex;
    width: 4rem;
    justify-content: center;
    align-items: center;
    padding: 0.7em 2.2em;
    gap: 1em;
    background-color: var(--dark-blue);
    box-shadow: var(--box-shadow);
    border-radius: 4px;
    cursor: pointer;
}

@media screen and (max-width: 1260px) {
    .detail-flag {
        width: 32rem
    }
}

@media screen and (min-width: 1440px) {
    .detail-page {
        padding: 8rem 10rem 6rem;
    }
}

@media screen and (max-width: 1200px) {
    .detail-page {
        padding: 8rem 5rem 6rem;
    }

    .detail-container {
        gap: 4rem
    }
}

@media screen and (max-width: 1120px) {
    .detail-container {
        grid-template-columns: 1fr;
    }

    .detail-flag {
        width: min(30rem, 100%);
        height: auto;
    }

    .border-countries {
        margin-top: 2rem;
        flex-direction: column;
        gap: 1rem;
        width: 70%;
    }

    .infos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    .detail-page {
        padding: 8rem 3rem 3rem;
    }
}

@media screen and (max-width: 500px) {
    .detail-page {
        padding: 8rem 2rem 3rem;
    }

    .detail-container {
        gap: 0
    }
}

@media screen and (max-width: 470px) {
    .back-button {
        font-size: 0.6rem;
    }

    .infos {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}