.detail-page {
    display: none;
    padding: 8rem 6rem 6rem;
}

.detail-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.detail-flag {
    width: 30rem;
    height: 20rem;
    margin-right: 4rem;
    object-fit: cover;
    box-shadow: var(--box-shadow)
}

.infos-container {
    flex: 1;
}

#country-name {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.part-1,
.part-2 {
    flex-basis: 50%;
    margin-bottom: 2rem;
}

.info {
    color: var(--text-white);
    font-size: var(--font-size-detail);
}

.info-1,
.info-2 {
    display: block;
    margin-bottom: 1rem;
    font-size: var(--font-size-detail);
    color: var(--text-white);
}

.info-1::before,
.info-2::before {
    font-weight: bold;
    content: attr(data-title) ": ";
    color: var(--text-white);
    font-size: var(--font-size-detail);

}

.border-countries {
    margin-top: 2rem;
    font-weight: 600;
}

button {
    background-color: yellow;
}

#border-countries-title {
    font-weight: bold;
    color: var(--text-white);
    font-size: var(--font-size-detail);
}