.country-detail-infos {
    display: flex;
    flex-direction: column;
    max-width: 100rem;
    margin: 0 auto;
    gap: 4rem;
}

.detail-page {
    display: none;
    padding: 8rem 6rem 6rem;
}

.detail-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 7rem;
}

.detail-flag {
    width: 30rem;
    height: 20rem;
    object-fit: cover;
    box-shadow: var(--box-shadow)
}

.infos-container {
    display: flex;
    flex-direction: column;
    row-gap: 1.7rem;
    padding-top: 2rem;
}

#country-name {
    font-size: 1.4rem;
    margin: 0;
}

.infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.part-1,
.part-2 {
    flex-basis: 50%;
    margin-bottom: 2rem;
}

.info {
    color: var(--text-white);
    font-size: var(--font-size-detail);
}

.info-1,
.info-2 {
    display: block;
    margin-bottom: 0.5rem;
    font-size: var(--font-size-detail);
    color: var(--text-white);
}

.info-1::before,
.info-2::before {
    font-weight: bold;
    content: attr(data-title) ": ";
    color: var(--text-white);
    font-size: var(--font-size-detail);

}

.border-countries {
    display: flex;
    flex-direction: row;
    font-weight: 600;
    column-gap: 1.5rem;
}

.border-countries-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 0.5rem;
    row-gap: 0.8rem;
}

.border-countries-list div {
    display: inline-block;
    padding: 0.2rem 0.9rem;
    background-color: var(--dark-blue);
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    color: var(--text-white);
    font-size: var(--font-size-detail);
    white-space: nowrap;
}

#border-countries-title {
    font-weight: bold;
    color: var(--text-white);
    font-size: var(--font-size-detail);
    white-space: nowrap;
    margin: 0;
}

.back-button {
    display: flex;
    width: 4rem;
    justify-content: center;
    align-items: center;
    padding: 0.7em 2.2em;
    gap: 1em;
    background-color: var(--dark-blue);
    box-shadow: var(--box-shadow);
    border-radius: 4px;
    cursor: pointer;
}