header {
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0;
    background-color: var(--dark-blue);
    box-shadow: var(--box-shadow);
}

.header {
    width: 100%;
    max-width: 102rem;
    align-items: center;
    justify-content: space-between;
    padding: 2em var(--padding-x);
    margin: 0 auto;
}

.header-title {
    font-size: 2rem;
}