header {
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0;
    background-color: var(--dark-blue);
    box-shadow: var(--box-shadow);
    padding: 0.2em var(--padding-x);
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}


.header-title {
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}