.home-page {
    margin: 0 auto;
    max-width: 102rem;
    height: 100vh;
    padding: 0 var(--padding-x)
}

#main {
    width: 100%;
    padding: 2em 0;
    max-width: 102rem;
}

.search-filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin: 6.77rem auto 0;
    width: 100%;
    max-width: 102rem;
}

.search-area {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: var(--dark-blue);
    gap: 1em;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    width: min(35rem, 100%);
    padding: 1em 2em;
}

.search {
    font-size: var(--font-size-home);
    font-weight: 300;
    color: var(--text-white);
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--dark-blue);
}

.search::placeholder {
    color: var(--text-white);
    font-size: var(--font-size-home);
    font-weight: 300;
}

.filter-area {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: min(10rem, 100%);
    padding: 1em 2em;
    background-color: var(--dark-blue);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.filter-area span {
    font-size: var(--font-size-home);
    font-weight: 300;
    pointer-events: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width:520px) {
    .search-filter-container {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width:600px) {
    .search-area {
        width: 80%;
    }
}

ion-icon {
    font-size: 20px;
}